.site-footer {
  background: linear-gradient(to right, #007AFD, #1e90ff, #005ccd); /* Gradiente di blu che ricorda l'acqua del mare */
  color: #fff; /* Testo in bianco per contrasto */
  padding: 40px 20px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25); /* Ombra più marcata per un effetto 3D */
  font-family: 'Roboto', sans-serif; /* Font pulito e contemporaneo */
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-top: 4px solid #add8e6; /* Aggiunge un accento di colore all'estremità superiore che richiama il cielo o l'acqua chiara */
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); /* Ombra per il testo, aumenta la leggibilità su sfondi chiari */
}



.footer-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 30px;
  width: 100%;
}

.footer-column {
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background: rgba(255, 255, 255, 0.05); /* Aggiunge un lieve sfondo ai blocchi per un contrasto più morbido */
  border-radius: 8px; /* Bordi arrotondati per un look più morbido */
}

.footer-column a {
  color: #fff;
  text-decoration: none;
  margin-bottom: 10px;
  padding: 5px 0;
  transition: all 0.3s ease;
}

.footer-column a:hover {
  transform: translateY(-3px);
}

.footer-column a::before {
  content: '';
  display: block;
  width: 0;
  height: 3px;
  background-color: #00bcd4;
  transition: width 0.5s ease-in-out;
  border-radius: 2px; /* Bordi arrotondati per la barra di progresso */
}

.footer-column a:hover::before {
  width: 100%;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(100px); /* Aumenta la distanza di traslazione per un effetto più drammatico */
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

#toggleLinkButton {
  background-color: #007AFD;
  margin-bottom: 40px;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s, box-shadow 0.3s, transform 0.2s;
}

#toggleLinkButton:hover {
  background-color: #005ccd; /* Blu più scuro al passaggio del mouse */
}

#toggleLinkButton.active {
  background-color: #003e7e; /* Blu scuro per lo stato attivo */
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2); /* Ombra più leggera per l'effetto premuto */
  transform: translateY(2px); /* Effetto visivo di essere premuto */
}

html, body {
  height: 100%;
  margin: 0;
  font-size: 16px; /* Dimensione del font base per un'accessibilità migliorata */
}

#container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#app {
  flex: 1;
}

.content {
  flex: 1;
}
